/* Body*/
body{
    background-image: url(../img/background.jpg);
    background-position: -79px 70px ;
    background-repeat: no-repeat;
	font-family: 'Kanit', sans-serif;
	font-weight: 400;
}
/* Header */
.header{
    background-position: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    font-size: 16px;
    color: rgb(233, 233, 233);
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

/* Main */
.main {
    height: 50vh;
    overflow: auto;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.table {
    display: flex;
    justify-content: space-between;
    background-color: rgb(177, 206, 105);
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 20px;
}

.table:first-child {
    margin-top: 40px;
}

.table:not(:last-child) {
    margin-bottom: 20px;
}

.info {
    margin-top: 4px;
}

.number {
    margin-left: 10px;
    background-color: rgb(233, 233, 233);
    padding: 0px 5px;
    border-radius: 10px;
}

.btn {
    width: 50px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(208, 90, 90);
    color: white;
    font-family: 'Kanit', sans-serif;
	font-weight: 500;
    font-size: 18px;
    transition: all .2s linear;
}

.btn:hover {
    background-color: rgb(181, 89, 89);
}

/* Footer */
.back {
	padding: 12px 23px;
    margin-left: 40px;
	font-size: 25px;
	font-weight: 500;
	border-radius: 10px;
	color: black;
	background-color: rgb(246, 255, 84);
	transition: all .2s linear;
}

.back:hover {
    color: white;
	background-color: rgb(111, 168, 160);
}

/* Modal */
.modal {
	display: none; 
	/* position: fixed; Оставаться на месте */
	width: 100vw;
	height: 100vh;
	z-index: 4;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.699);
}
.modal-content {
	position: absolute;
	left: 18.5%;
	top: 20%;
	width: 60%;
	height: 26%;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	background-color: rgb(5, 57, 92); /* Черный с непрозрачностью */
}

#form {
	height: 130px;
}

.modal-title {
	font-size: 30px;
	font-weight: 500;
	margin-top: 8px;
	margin-bottom: 10px;
	color: white;
}

#much {
	border: 0px;
	border-radius: 10px;
	width: 100px;
	height: 50px;
	margin-bottom: 20px;
	font-size: 30px;
	font-family: 'Kanit', sans-serif;
	font-weight: 600;
	position: relative;

}

#btn-close,
#btn-save {
	width: 80px;
	height: 40px;
	font-size: 27px;
	font-family: 'Kanit', sans-serif;
	font-weight: 500;
	border-radius: 10px;
	background-color: rgb(253, 255, 107);
	transition: all .2s linear;
	margin-bottom: 10px;
	border: 0;
}