/* Body*/
body{
    background-color: rgb(250, 236, 225);
}

/* Header */
.header{
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    display: flex;
    font-size: 16px;
    color: rgb(116, 116, 116);
}

.stat:not(:last-child){
  margin-right: 20px;
}

.header span{
  color: rgb(177, 255, 52);
  font-size: 20px;
  display: block;
  margin-top: 4px;
}
